
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#center-doc
{
  text-align: center;
}
.dashcards{
  padding: 15px;
  margin: 20px;
}
.CaseTypesChart {
  width: 100%;
  flex-grow: 0;

  /* margin: 42px 16px 20px 83px;
    padding: 20px 70px 43px 20px; */
  background-color: #fff;
}
.RiskScoreChart {
  width: 100%;

  flex-grow: 0;

  /* margin: 42px 16px 20px 83px;
    padding: 20px 70px 43px 20px; */
  border-radius: 10px;
  /* border: solid 1px #ebedf4; */
  background-color: #fff;
}

.Widgets {
  height: 65px;
  flex-grow: 0;
  /* padding: 16px 14.2px 16px 17px; */
  border-radius: 8px;
  border: solid 1px #ebedf4;
  background-color: #fff;
}
.SearchResult {
  /* width: 388px;
    height: 88px; */
  /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; */
  /* gap: 16px; */
  /* margin: 20px 13px 28px 16px;
    padding: 8px 16px; */
  border-radius: 6px;
  box-shadow: 0 0 0 1px #dde0e9;
  background-color: #fff;
}
.apexcharts-datalabel-label{
  fill:black  !important
}
/* App.css */
.expandable-table {
  border-collapse: collapse;
  width: 20px;
  border: none;
}

.expandable-table th, .expandable-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
/* App.css */
.small-cell {
  padding: 5px;
  font-size: 12px;
}
.expand-cell {
  cursor: pointer;
}
.inputs{
  width: 55px;
  border: none;
}
.button_{
border: none;

}
.Direction_{
  display: flex;
  flex-direction: row;
}
.App_jss{
  display: flex;
  flex-direction: row;
 
}
.expandButton{
margin: 10px;
}