body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.popup-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  top: 50px;
  /* width: 120%; */
  width: 100%;
  height: 30%;
  
}

.box{
  position:relative;
  width: 50%;
  min-height: 300px;
  background-color:white;
  border: 1.5px solid blue;
  border-radius: 30px;
  margin: 30px auto;
  padding: 15px;
  
  
}

.btn-close {
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 50%;
  position: relative;
  /* right: calc(24%); */
  left: calc(98%);
  top: -10px;
}
/* .header{
  height: -10vh;
  background-color: #254A9E;
} */

/* .formInputs{
 
  margin-left: 10rem;
} */
